:host {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
}

:host.mute {
  opacity: 0.3;
  border-radius: 50%;
  cursor: not-allowed;
}

:host:hover {
  background-color: #4e4b4b;
  font-weight: bolder;
}

:host.first, :host.last {
  background-color: hsla(271, 93%, 11%, .8);;
}

:host.first {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  margin-right: -.25rem;
  border-right: 0;
}

:host.last {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  margin-left: -.25rem;
  border-left: 0;
}
