<h1
  (drop)="handleDrop($event)"
  ondragenter="document.getElementById('output').textContent = ''; event.stopPropagation(); event.preventDefault();"
  ondragover="event.stopPropagation(); event.preventDefault();"
>
  Slido overview
</h1>
<section class="buttonGroup">
  <button (click)="selFile()">Select a different presentation</button>
  <button (click)="addSlide()">Add slide</button>
  <button (click)="save()">Save</button>
</section>

@if ($needToAskPermission()) {
  <div>
    <span>Need to ask permission</span>
    <button (click)="askPermission()">Ask permission</button>
  </div>
} @else {
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>content</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (slide of deck.$slides(); track $index) {
        <tr>
          <td>{{ $index }}</td>
          <td>
            <main>
              <se-slide [index]="$index" />
            </main>
          </td>
          <td class="actionGroup">
            <!-- <button>✏️</button> -->
            <button (click)="deck.removeSlide($index)">🗑️</button>
            <button [routerLink]="['/present', $index]">🔗</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
