:host {
  display: block;
  padding: var(--size-2);
}

td {
  max-inline-size: none;
  height: auto;
}

td:nth-child(2) {
  overflow: hidden;
  container-type: inline-size;
  container-name: table-cell-holder;

  & > main {
    aspect-ratio: 16 / 9;
    width: 1024px;
    overflow: hidden;
  }
}

.buttonGroup {
  display: flex;
  gap: var(--size-2);
  padding: var(--size-2);
}

.actionGroup {
  display: flex;
  gap: var(--size-2);
  padding: var(--size-2);

  button {
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

td {
  overflow: hidden;
}
