:host {
  display: block;
  border-radius: var(--radius-2);
  background-color: var(--surface-2);
  padding: var(--size-2);
  box-shadow: var(--shadow-3);
  animation: var(--animation-fade-in);
  margin: var(--size-2);
  width: var(--size-content-3);
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-2);
}

.buttongroup {
  display: flex;
  gap: var(--size-1);
}

.buttongroup > button {
  padding: var(--size-1) var(--size-2);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

label {
  display: flex;
  flex-direction: row;
  gap: var(--size-1);
}

label > *:first-child {
  display: inline-flex;
  flex: 0 0 auto;
  width: 10rem;
  gap: var(--size-1);
  align-content: flex-end;
  justify-content: flex-end;
}

label > div {
  display: flex;
  gap: var(--size-1);
  align-content: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
