<dl *ngFor="let item of entries">
  <dt>{{ key(item) }}</dt>
  <dd>
    <ng-container *ngIf="!isRecArray(item)">
      {{ val(item) }}
    </ng-container>
    <ng-container *ngIf="isRecArray(item)">
      <details *ngFor="let rec of val(item)">
        <summary
          >{{ rec.name || rec.title }} <button (click)="selected.emit([key(item),rec.name||rec.title])">Select</button>
        </summary>
        <app-show-rec [record]="rec"></app-show-rec>
      </details>
    </ng-container>
  </dd>
</dl>

<style>
  dl {
    display: grid;
    grid-template-columns: 5em 1fr;
  }
  dt {
    font-weight: initial;
  }
  dd {
    font-weight: bolder;
  }
</style>
