@for (item of entries; track item) {
  <dl>
    <dt>{{ key(item) }}</dt>
    <dd>
      @if (!isRecArray(item)) {
        @if (isRecord(val(item)); as rec) {
          <details>
            <summary>
              {{ rec.name || rec.title }}
              <button (click)="selected.emit([key(item), rec.name || rec.title])">Select</button>
            </summary>
            <app-show-rec [record]="rec"></app-show-rec>
          </details>
        } @else {
          {{ val(item) }}
        }
      } @else {
        @for (rec of val(item); track rec) {
          <details>
            <summary>
              {{ rec.name || rec.title }}
              <button (click)="selected.emit([key(item), rec.name || rec.title])">Select</button>
            </summary>
            <app-show-rec [record]="rec"></app-show-rec>
          </details>
        }
      }
    </dd>
  </dl>
}

<style>
  dl {
    display: grid;
    grid-template-columns: 5em 1fr;
  }
  dt {
    font-weight: initial;
    max-width: 5em;
    overflow: hidden;
  }
  dd {
    font-weight: bolder;
    margin-left: 0.5em;
  }
  summary button {
    display: inline-block;
    margin-left: 5px;
    padding: 2px;
  }
</style>
