:host {
  display: block;
  margin-block-start: var(--size-2 );
}

div.tags {
  display: grid;
  grid-template-columns: 48px auto;
  gap: var(--size-3);
  grid-row-gap: 0;;
  align-items: baseline;

}

div.tags > button.action {
  position: inherit;
  margin-inline-start: 0;
}
