# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
node_modules/

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
scully.log
scully.log
scully.log
src/assets/scully-routes.json
projects/slipnslide/src/assets/scully-routes.json
scully/runtime
scully/plugins/*.js
scully/plugins/*.js.map
.wireit
scully.samples.config.mjs
scully/plugins/render-once.js.map
.couchdb/data/_dbs.couch
.couchdb/data/_nodes.couch
.couchdb/data/.shards/00000000-7fffffff/relations.1746279713_design/mrview/03aab204cb55a94489c5d5b2d7fe4f65.view
.couchdb/data/.shards/00000000-7fffffff/relations.1746279713_design/mrview/e396a0e9230c85862941f6266d2a6771.view
.couchdb/data/.shards/00000000-7fffffff/relations.1746279713_design/mrview/ffaf960d72c8ea9a72d5f60ff41a62c0.view
.couchdb/data/.shards/80000000-ffffffff/relations.1746279713_design/mrview/03aab204cb55a94489c5d5b2d7fe4f65.view
.couchdb/data/.shards/80000000-ffffffff/relations.1746279713_design/mrview/e396a0e9230c85862941f6266d2a6771.view
.couchdb/data/.shards/80000000-ffffffff/relations.1746279713_design/mrview/ffaf960d72c8ea9a72d5f60ff41a62c0.view
.couchdb/data/shards/00000000-7fffffff/_replicator.1746277566.couch
.couchdb/data/shards/00000000-7fffffff/_users.1746277566.couch
.couchdb/data/shards/00000000-7fffffff/relations.1746279713.couch
.couchdb/data/shards/80000000-ffffffff/_replicator.1746277566.couch
.couchdb/data/shards/80000000-ffffffff/_users.1746277566.couch
.couchdb/data/shards/80000000-ffffffff/relations.1746279713.couch
.couchdb/config/docker.ini
