:host {
  display: block;
}

dialog {
  padding: 0;
}

dialog {
  & > div {
    padding-inline: 2rem;
    padding-block: 1rem;

    & > section {
      margin-block: 0.75rem;
    }
  }

  footer,
  header {
    display: flex;
    inline-size: 100%;
    align-content: center;
    justify-content: center;
  }
}
