:host {
  display: block;
  margin-top: var(--size-3);
  columns: 2;
}

form {
  --size-content-3: 140ch;
  width: var(--size-content-3);
  display: grid;
  grid-template-areas:
    "a   b"
    "c   d"
    "e   e";
  grid-auto-flow: column;
  gap: var(--size-4);
  margin: auto;
  background-color: var(--surface-2);
  padding: var(--size-3);
  border-radius: var(--radius-3);
}

div.wrapper {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
label > *:nth-child(2) {
  margin-left: var(--size-3);
}

label:has(input[required]) > span:first-child:after {
  content: '*';
  color: var(--red-3);
}

button[type='submit'] {
  grid-column: span 2;
}

:is(input, textarea, select):user-invalid {
  border: 2px solid var(--red-5);
  /* background-color: var(--red-2); */
}

fieldset > legend {
  display: flex;
  align-items: center;
}

fieldset {
  container-type: inline-size;
  margin-block-end: 0;
}

div.error-messages {
  display: none;
}

/*
I have taken this out, as I think hiding error message until touched is bad UX.
You want users to know what is wrong as soon as possible, not wait until they
interact with the form.
*:has(.se-touched) { */
div.error-messages {
  display: block;
  color: var(--red-5);
  grid-column: 2;
  font-style: italic;
  min-height: 1.5em;
  font-variant: small-caps;
  margin-inline-start: var(--size-2);
  margin-block-start: calc(-1 * var(--size-2));

  ul {
    font-size: 0.95rem;
  }
  ul:not(:has(:nth-child(2))) {
    list-style: none;
    padding-inline-start: var(--size-4);
  }
}
/* } */

button.action {
  border-radius: 50%;
  width: var(--size-8);
  height: var(--size-8);
  padding: 0;
  font-size: var(--size-3);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

legend button.action {
  position: absolute;
  translate: calc(98cqi - 100%);
}

dialog {
  padding: var(--size-6);
  font-size: var(--size-5);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  width: var(--size-content-3);
}
