:host {
  display: block;
  margin-top: var(--size-3);
  max-width: 99vw;
  columns: 2;
}

form {
  --size-content-3: 140ch;
  width: var(--size-content-3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'firstDiv     AddressComponent'
    'contacts     tagsComponent'
    'submitButton submitButton';
  gap: var(--size-4);
  margin: auto;
  background-color: var(--surface-2);
  padding: var(--size-3);
  border-radius: var(--radius-3);
}
@media (width < 1500px) {
  form {
    --size-content-3: min(98vw, 70ch);
    grid-template-areas:
      'firstDiv'
      'AddressComponent'
      'contacts'
      'tagsComponent'
      'submitButton';
    grid-template-columns: 1fr;
  }
}
button[type='submit'] {
  grid-area: e;
}

form fieldset:nth-child(2) {
  grid-area: contacts;
}
form fieldset:nth-child(3) {
  grid-area: AddressComponent;
}
form fieldset:nth-child(4) {
  grid-area: tagsComponent;
}
div.wrapper {
  grid-area: firstDiv;
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
label > *:nth-child(2) {
  margin-left: var(--size-3);
}

label:has(input[required]) > span:first-child:after {
  content: '*';
  color: var(--red-3);
}

button[type='submit'] {
  grid-area: submitButton;
}

:is(input, textarea, select):user-invalid {
  border: 2px solid var(--red-5);
  /* background-color: var(--red-2); */
}

fieldset > legend {
  display: inline-flex;
  align-items: center;
  background: var(--surface-2);
  padding-inline: calc(var(--size-2));
  z-index: 1;
}

fieldset:has(legend button.action) {
  padding-block-start: var(--size-5);
}

fieldset {
  container-type: inline-size;
  margin-block-end: 0;
  position: relative;
}

div.error-messages {
  display: none;
}

/*
I have taken this out, as I think hiding error message until touched is bad UX.
You want users to know what is wrong as soon as possible, not wait until they
interact with the form.
*:has(.se-touched) { */
div.error-messages {
  display: block;
  color: var(--red-5);
  grid-column: 2;
  font-style: italic;
  min-height: 1.5em;
  font-variant: small-caps;
  margin-inline-start: var(--size-2);
  margin-block-start: calc(-1 * var(--size-2));

  ul {
    font-size: 0.95rem;
  }
  ul:not(:has(:nth-child(2))) {
    list-style: none;
    padding-inline-start: var(--size-4);
  }
}
/* } */

button.action {
  border-radius: 50%;
  width: var(--size-8);
  height: var(--size-8);
  padding: 0;
  font-size: var(--size-3);
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

fieldset > legend button.action {
  position: absolute;
  right: var(--size-3);
  top: -2rem;
  /* transform: translateY(calc(-1 * var(--size-4))); */
}

dialog {
  padding: var(--size-6);
  font-size: var(--size-5);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  width: var(--size-content-3);
}

/* Improve caret and focus visibility inside form fields */
:is(input, textarea, [contenteditable]) {
  caret-color: #ff6b6b; /* bright accent for the caret */
  transition:
    box-shadow 0.12s ease,
    background-color 0.12s ease;
}
:is(input:focus, textarea:focus, [contenteditable]:focus) {
  box-shadow:
    0 0 0 2px rgba(255, 107, 107, 0.12),
    inset 0 0 0 1px rgba(255, 107, 107, 0.18);
  background-color: rgba(255, 107, 107, 0.02);
}
:is(input::selection, textarea::selection) {
  background: rgba(255, 107, 107, 0.18);
}

/* Make number inputs' inner caret area easier to spot */
input[type='number'] {
  caret-color: #ff6b6b;
}

/* For contenteditable elements ensure outline for keyboard focus */
[contenteditable]:focus {
  outline: 2px solid rgba(255, 107, 107, 0.18);
  outline-offset: 2px;
}
