:host {
  display: block;
  background-color: #3f3b3b;
  border: 1px solid #cdcbcb;
  border-radius: 1rem;
  padding: 1rem;
  & > :first-child:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #69b6d5;
  }
}

:host.disabled {
  opacity: 0.5;
}

:host.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
  & > :first-child:before {
    background-color: #6cb952;
  }
}
