:host {
  display: block;
  background-color: #3f3b3b;
  border: 1px solid #cdcbcb;
  border-radius: 1rem;
  padding: 1rem;
  & > :first-child:before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #69b6d5;
  }
  :last-child::after {
    display: inline-flexbox;
    position: relative;
    top: -1.45rem;
    right: -0.75rem;
    font-weight: bold;
    width: 1rem;
    height: 1rem;
    content: ' ';
    border-radius: 50%;
    color: white;
    border: none;
  }
}

:host.disabled {
  opacity: 0.5;
}

:host.selected {
  background-color: var(--color-primary);
  color: var(--color-white);
  & > :first-child:before {
    background-color: #6cb952;
  }
}

:host.touched {
  :last-child::after {
    content: '\2713';
    background-color: #6cb952;
  }
}
