img {
  width: 100%;
}
li {
  list-style: none;
}

.box {
  height: 1.2em;
  width: auto;
}
.colorboxes {
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(2em, 1fr);
}
