:host {
  display: block;
  padding: 1rem;

  --color-success: #1b3003;
  --color-error: #351411;
}

div.grid {
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 10px;

  & * {
    background: var(--surface-3);
    border-radius: 1rem;
    min-inline-size: 30rem;
    min-block-size: 30lh;
    padding: 1rem;
    overflow: auto;
  }
}

label {
  display: flex;
  align-items: center;
  gap: .0.5rem
}

div.devGrid {
  margin-block-end: 1rem;;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;

  & * {
    background: var(--surface-3);
    border-radius: 1rem;
    padding: 1rem;
    overflow: auto;
  }
}
