:host {
  display: block;
}

button {
  background-color: var(--surface-4);
  margin: .5rem;
}

h4 button {
  margin:0;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
  transform: scale(0.75);
}

