:host {
  display: block;
}

label {
  margin-block-start: 0.5rem;
  display: grid;
  grid-template-columns: 5rem 1fr auto;
  align-items: center;
  gap: 0.5rem;
}

svg {
  aspect-ratio: 1;
  inline-size: 1.5rem;
}

/* Add space between any buttons */
button + button {
  margin-left: 0.5rem;
}
