<ng-container *ngIf='node$|async as node'>
  <div><span *ngIf="node?.value ?? undefined">
      {{node?.value ?? '-'}}({{balance(node)}}:{{node.height}}})
    </span>
  </div>

  <div
    class="row"
    *ngIf="node?.left || node?.right"
  >
    <b-node
      class="left"
      [bNode]="left$|async"
    ></b-node>
    <b-node
      class="right"
      [bNode]="right$|async"
    ></b-node>
  </div>
</ng-container>
<style>
  :host {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
    justify-content: center;
    align-content: center;
    gap: 2px;
    margin: 4px;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.774);
  }

  div {
    text-align: center;
  }

  div.row {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  div:first-child {
    padding: 9px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    background-color: rgba(93, 14, 93);

  }

  .left>div:first-child {
    background-color: rgba(0, 0, 255);
  }

  .right>div:first-child {
    background-color: rgba(0, 128, 0);
  }
</style>
