<ng-container *ngIf='node$|async as node'>
  <div>{{node?.value}}</div>
  <div
    class="row"
    *ngIf="node?.left || node?.right"
  >
    <b-node
      class="left"
      [bnode]="node.left"
    ></b-node>
    <b-node
      class="right"
      [bnode]="node.right"
    ></b-node>
  </div>
</ng-container>
<ng-template #dummy>
  <div></div>
</ng-template>
<style>
  :host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15px 1fr;
    justify-content: center;
    align-content: center;
    gap: 2px;
    margin: 4px;
    padding: 2px;
    border: 1px solid white;
  }

  div {
    text-align: center;
  }

  div.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  b-node.left {
    background-color: blue;
  }

  b-node.right {
    background-color: green;
  }
</style>
