@if (bNode(); as node) {
  <div>
    @if (node?.value ?? undefined) {
      <span [title]="title(node)">
        {{ node?.value ?? '-' }}
      </span>
    }
  </div>

  @if (node?.left || node?.right) {
    <div class="row">
      <b-node class="left" [bNode]="$left()"></b-node>
      <b-node class="right" [bNode]="$right()"></b-node>
    </div>
  }
}
<style>
  :host {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr;
    justify-content: center;
    align-content: center;
    gap: 2px;
    margin: 4px;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.774);
  }

  div {
    text-align: center;
  }

  div.row {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  div:first-child {
    padding: 9px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    background-color: rgba(93, 14, 93);
  }

  .left > div:first-child {
    background-color: rgba(0, 0, 255);
  }

  .right > div:first-child {
    background-color: rgba(0, 128, 0);
  }
</style>
