
html,body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* :focus,
:hover {
  filter: brightness(120%) saturate(120%);
} */

body, textarea, input, select {
  background-color: rgb(31, 29, 29);
  color:whitesmoke
}
