:host {
  display: flex;
  margin-block-start: 1rem;

  --metered-color-0: #5f7331;
  --metered-color-1: #5f4690;
  --metered-color-2: #1d6996;
  --metered-color-3: #38a6a5;
  --metered-color-4: #0f8554;
  --metered-color-5: #73af48;
  --metered-color-6: #edad08;
  --metered-color-7: #e17c05;
  --metered-color-8: #cc503e;
  --metered-color-9: #94346e;
  --metered-color-10: #6f2c91;

  div {
    padding: var(--size-2);
    writing-mode: vertical-lr;
    overflow: hidden;
  }

  border: #79c1c9 solid 1px;
}
