@layer se_calendar.month {
  :host {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: repeat(7, 40px);
    grid-auto-rows: 40px;
    gap: 0.25rem;
  }

  h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding: 7px;
    margin: 0;
  }

  se-day-cell {
    border: 1px solid black;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
    padding: 0;
  }

  /* range between first-ast */
  .first ~ :has(~ .last) {
    background-color: hsla(271, 93%, 11%, 0.45);
    margin-right: -0.25rem;
    border-left: 0;
    border-right: 0;
  }

  se-day-cell:hover {
    background-color: hsl(49, 61%, 45%);
  }

  se-day-cell:hover:were(:has(~ .first)) {
    border-radius: 25% 0 0 25%;
  }

  /* Hover range before */
  se-day-cell:hover ~ :has(~ .first) {
    background-color: hsl(49, 61%, 45%);
    border-left: 0;
    border-right: 0;
    margin-right: -0.5rem;
  }

  /** hover "cursor" before */
  se-day-cell:hover:has(~ .first) {
    background-color: hsla(49, 61%, 45%, 0.768);
    border-right: 0;
    border-radius: 25% 0 0 25%;
    margin-right: -0.5rem;
  }

  /* Hover cells after */
  .last ~ :has(~ se-day-cell:hover) {
    background-color: hsl(49, 61%, 45%);
    border-left: 0;
    border-right: 0;
    margin-left: -0.5rem;
  }

  /** hover "cursor" after */
  .last ~ se-day-cell:hover
  {
    background-color: hsla(49, 61%, 45%, 0.768);
    border-left: 0;
    border-radius: 0 25% 25% 0;
    margin-left: -0.5rem;
  }


}
