:host {
  display: grid;
  color: #fafafa;
  background-color: #050505;
  padding: 2rem;
  margin: 0;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  font-size: +4rem;
  grid-auto-rows: minmax(min-content, max-content);
}

table {
  border-collapse: separate;
  border-spacing: 6px;
  background-color: white;
}

table tr:nth-child(odd) {
  background-color: black;
}

table tr:nth-child(even),
table th {
  background-color: #afafaf;
  color: black;
  padding: 15px;
}

table td,
table th {
  /* background-color: #a0a0aa; */
  padding: 15px;
}
