:host {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

div.row {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: var(--size-2);
  align-items: baseline;
}
@media (width < 680px) {
  div.row {
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;

    button.action {
      grid-row: span 3;
    }
  }
}

input[type='number'] {
  width: 3rem;
}

/** Visually hidden */
label > span {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

select {
  width: 16ch;
}

div > button.action {
  position: inherit;
  margin-inline-start: 0;
}
