:host {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

div.row {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  flex-direction: row;
  gap: var(--size-2);
  align-items: baseline;
}

input[type='number'] {
  width: 3rem;
}

/** Visually hidden */
label > span {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

select {
  width: 16ch;
}

div > button.action {
  position: inherit;
  margin-inline-start: 0;
}
