:host {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

div.row {
  display: grid;
  grid-template-columns: 3.5rem 6rem 16.5rem 2rem;
  flex-direction: row;
  gap: var(--size-2);
  align-items: baseline;
}

input[type='number'] {
  width: 3rem;
}

div > button.action {
  position: inherit;
  margin-inline-start: 0;
}
