<h1>Observable state</h1>

<main *ngIf="(viewModel$ | async) as vm">
  <section class="display">
    <button (click)="down()" [disabled]="vm.underMin">-</button>
    <h3>{{ vm.count }}</h3>
    <button (click)="up()" [disabled]="vm.overMax">+</button>
    <br />
  </section>
  <h1>{{ vm.msg }}</h1>
  <br />
  <br />
  <p>The raw viewModel:</p>
  <hr />
  <pre><code>{{vm|json}}</code></pre>
</main>

<style>
  section {
    display: grid;
    grid-template-columns: 50px 50px 50px;
  }
  section h3 {
    text-align: center;
    font-size: 30px;
  }
</style>
