@layer se_calendar.overview, se_calendar.month, se_calendar.day;

@layer se_calendar.overview {
  :host {
    display: block;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 352px);
    grid-template-rows: auto 1fr;
    gap: 2rem;
  }
}
