:host {
  display: block;
  max-height: 90vh;
  overflow: auto;
}

button {
  display: inline-block;
  width: 2rem;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

ul {
  display: grid;
  gap: .2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}
