<h1>SVG timer sample</h1>

<!--
  use viewBox trickery to get 0.0 in the center of the svg.
  that way, we can skip the cX and CY attributes.
-->
@if (timer$ | async; as time) {
  <svg viewBox="-50 -50 100 100">
    @for (color of strokeColors; track color; let i = $index) {
      <circle
        [attr.r]="radiusFromPosition(i)"
        [attr.stroke]="color"
        [attr.stroke-dasharray]="dashArray(time, radiusFromPosition(i))"
      />
    }
    <text dominant-baseline="central" text-anchor="middle">{{ 60 - time }}</text>
  </svg>
}

<style>
  :host {
    display: block;
  }

  svg {
    /** turn so 0,0 is at top */
    transform: rotate(-0.25turn);
    max-height: 90vh;
  }

  circle {
    fill: none;
    stroke-width: 6;
  }

  text {
    transform: rotate(0.25turn);
    /* put back right up */
    font-size: 2em;
    font-weight: bold;
    fill: #fff;
  }

  /** reposition startingpoint of each circle. */
  circle:nth-child(2) {
    transform: scaleY(-1);
  }

  circle:nth-child(3) {
    transform: scaleX(-1);
  }

  circle:nth-child(4) {
    transform: rotate(-0.25turn);
  }
</style>
