form,
fieldset {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
}

label:has(+input[required]) {
  &:after {
    display: inline;
    content: '*';
    color: orange
  }
}

input:last-child {
  margin-bottom: 0;
}
