@import 'open-props/style';

/* optional imports that use the props */
@import 'open-props/normalize';
@import 'open-props/buttons';
:host-context {
  display: block;
  height: 100dhv;
}

section {
  display: block;
  min-height: 100%;
  min-width: 100%;
  align-content: center;

  * {
    user-select: none;
  }

  #slide {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: start;
    width: fit-content;
    height: auto;
    margin-inline: auto;
    transform: scale(var(--slide-scale, 1));
    h1 {
      width: max-content;
      anchor-name: --my-title;
      padding-bottom: 1rem;
    }
    h1:has(+ h2) {
      padding-bottom: 3.5rem;
    }
    h1 + h2 {
      width: anchor-size(width);
      position: absolute;
      position-anchor: --my-title;
      position-area: end center;
      top: -3.95rem;
      font-style: italic;
      text-align: end;
    }

    h1,
    h2,
    h3,
    h4 {
      max-inline-size: none;
    }

    li {
      color: var(--surface-1);

      & * {
        display:none;
      }
      transition: color 0.75s var(--ease-elastic-in-out-1);
    }

    li.revealed {
      color: var(--text1);
      & * {
        display: unset;
      }
    }
  }
}
