/* the props */
@import 'open-props/style';

/* optional imports that use the props */
@import 'open-props/normalize';
@import 'open-props/buttons';

html {
  /* light */
  --brand-light: #e30ae7;
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-2);
  --surface-2-light: var(--gray-3);
  --surface-3-light: var(--gray-4);
  --surface-4-light: var(--gray-5);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;

  /* dark */
  --brand-dark: #6200ee;
  --text-1-dark: var(--gray-2);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-11);
  --surface-2-dark: var(--gray-10);
  --surface-3-dark: var(--gray-9);
  --surface-4-dark: var(--gray-8);
  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;

  /* dim */
  --brand-dim: var(--orange-4);
  --text-1-dim: var(--gray-3);
  --text-2-dim: var(--gray-4);
  --surface-1-dim: var(--gray-8);
  --surface-2-dim: var(--gray-7);
  --surface-3-dim: var(--gray-6);
  --surface-4-dim: var(--gray-5);
  --surface-shadow-dim: var(--gray-9-hsl);
  --shadow-strength-dim: 20%;

  /* grape */
  --brand-grape: var(--purple-5);
  --text-1-grape: var(--purple-9);
  --text-2-grape: var(--purple-7);
  --surface-1-grape: var(--purple-0);
  --surface-2-grape: var(--purple-1);
  --surface-3-grape: var(--purple-2);
  --surface-4-grape: var(--purple-3);
  --surface-shadow-grape: var(--purple-12-hsl);
  --shadow-strength-grape: 2%;

  /* choco */
  --brand-choco: var(--choco-5);
  --text-1-choco: var(--choco-1);
  --text-2-choco: var(--choco-2);
  --surface-1-choco: var(--choco-12);
  --surface-2-choco: var(--choco-11);
  --surface-3-choco: var(--choco-10);
  --surface-4-choco: var(--choco-9);
  --surface-shadow-choco: 25deg 65% 11%;
  --shadow-strength-choco: 50%;
}

:root {
  /** allow animation auto and friends */
  interpolate-size: allow-keywords;

  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dim);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

html {
  background-color: var(--surface-1);
  color: var(--text-1);
}



form {
  accent-color: var(--brand);
}

body {
  font:
    18px/1 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

:root {
}
html:has(div#outlet) {
  inline-size: 100dvw;
  block-size: 100dvh;
  overflow: hidden;
  /* styles applied only for the demo components identified by the div#outlet */
  body {
    margin: 0;
    padding: 0;
    min-height: 99vh;
    color: var(--text-1);
  }

  a {
    color: rgb(95, 197, 228);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-inline-size: 100%;
  }
  h1 {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  .backDrop {
    display: flex;
    background-color: rgba(40, 40, 40, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .backDrop > * {
    background-color: white;
    color: rgb(8, 8, 8);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline;
  }

  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 8px 12px 10px 12px;
    margin-bottom: 4px;
    background: rgba(0, 0, 0, 0.25);
  }

  input[type='checkbox'] {
    scale: 2;
    margin: 0 10px 0 0;
  }

  option {
    background: rgba(0, 0, 0, 0.25);
  }

  /* button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
} */
  dialog {
    padding-block: 1rem;
    padding-inline: 2rem;
  }

  dialog::backdrop {
    background-color: hsla(0, 0%, 3%, 0.5);
    backdrop-filter: blur(3px);
  }

  textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
    background: rgba(0, 0, 0, 0.25);
  }

  input[type='text'] {
    display: block;
    margin: 0 0 20px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.25);
  }

  textarea {
    display: block;
    margin: 0 0 20px;
    padding: 8px 12px 10px 12px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.25);
  }
}
