/* You can add global styles to this file, and also import other style files */

.backDrop {
  display: flex;
  background-color: rgba(40,40,40, 0.6);
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.backDrop > * {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline;
}
