<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>Welcome to Sanders samples!</h1>

  <p>
    This is the "home" page of my samples app. Take a look arround. thereis not much of interest on this page, but you might want to
    check out one of the modules.
  </p>
  <p>
    The source of those samples is on
    <a target="_blank" href="https://github.com/SanderElias/Samples">GitHub</a>
  </p>
  <P>
    You can see it in action on
    <a target="_blank" href="https://stackblitz.com/github/SanderElias/Samples">StackBlitz</a>
  </P>
  <p>
    Thanks to <a target="_blank" href="https://mobile.twitter.com/ericsimons40">Eric</a> this repo now works correctly in StackBlitz
  </p>
</div>
