:host {
  display: inline-block;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 7px;
  cursor: pointer;
  height: 1.5rem;
}
h4 {
  padding:2px;
  margin:0px;
  display: flex;
  align-items: center;
  gap: 5px;
}
:host.inline {
  display: inline;
  border:none;
  padding:0;
  margin:0;
  background-color: inherit;
  box-shadow: none;
}
:host.inline h4 {
  display: inline;
  font-weight: normal;
  color: #0000ee
}
:host[detail] {
  height: fit-content;
  border:1px solid ;
  padding:5px;
  border-radius:0;
  margin:0;
  background-color: inherit;
  box-shadow: none;
}
section p {
  margin:0;
  padding-left:15px;
}

img {
  height: 24px;
  aspect-ratio: 1;

}
